@import "tailwindcss";
@import "react-leaflet-markercluster/dist/styles.min.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

@variant dark (&:where(.dark, .dark *));
