@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "leaflet/dist/leaflet.css";

/* Forced Map Interactions */
.leaflet-container {
    pointer-events: auto !important;
    touch-action: pan-x pan-y !important;
    cursor: grab !important;
}

.leaflet-container:active {
    cursor: grabbing !important;
}

.leaflet-map-pane,
.leaflet-tile-pane,
.leaflet-overlay-pane {
    pointer-events: auto !important;
}

@variant dark (&:where(.dark, .dark *));